<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_BRAND</key>
	<string>bradesco</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(BUNDLE_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bradesco.mobile.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bradesco-atendimento</string>
		<string>now-mobile</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSPinnedDomains</key>
		<dict>
			<key>$(SERVICENOW_PINNED_HOST)</key>
			<dict>
				<key>NSIncludeSubdomains</key>
				<true/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>REPLACE_WITH_REAL_PIN_BEFORE_PROD</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Usamos a câmera para leitura de QR Code Pix e validação de documentos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Usamos Face ID para liberar acesso seguro à sua conta e autorizar operações sensíveis.</string>
	<key>RAILWAY_BFF_FLAGS_URL</key>
	<string>$(RAILWAY_BFF_FLAGS_URL)</string>
	<key>RAILWAY_OTEL_COLLECTOR_URL</key>
	<string>$(RAILWAY_OTEL_COLLECTOR_URL)</string>
	<key>SERVICENOW_INSTANCE_URL</key>
	<string>$(SERVICENOW_INSTANCE_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
